<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
    #content{
        text-align: center ;
        width: 1200px ;
        margin-left: auto ;
        margin-right: auto ;
    }

</style>
<body>

<div id="content">
    <div class="left_logo">
        <img src="/bundles/app/images/logo_lab.png" alt="Smiley face" height="60" width="60" style="float:left;">
        <div style="float: left;margin-left: 10px;">
            <div style="font-size: 19px;font-weight: bold;text-align: left;">PIMENTA DO VALE</div>
            <div style="font-size: 13px;text-align: left;">LABORATORIOS, LDA</div>
            <div style="font-size: 13px;text-align: left;">ANÁLISE DE ÁGUAS E ALIMENTOS</div>
        </div>
        <div style="float: right;margin-left: 10px;">
            <div style="font-size: 19px;font-weight: bold;text-align: center;">Lista de Trabalho</div>
            <div style="font-size: 13px;text-align: center;">Nome do Cliente</div>
            <div style="font-size: 13px;text-align: center;">Codigo Amostra</div>
        </div>
    </div>
    {% for item in par_container %}

        {{ item.tablejson  | raw}}

    {% endfor %}


    </div>


</div>


</body>
</html>