<div class="">
    <img src="{{ asset('bundles/app/images/logo-small.png') }}" alt="ilab" />
    <ul>
        <li><a href="#" class="menu-item-1 active"><i></i> <span>Planeamento de amostras</span></a></li>
        <li><a href="#" class="menu-item-2"><i></i> <span>Amostras</span></a></li>
        <li><a href="#" class="menu-item-3"><i></i> <span>Entrada de resultados</span></a></li>
        <li><a href="#" class="menu-item-4"><i></i> <span>Consultar parâmetros</span></a></li>
        <li><a href="#" class="menu-item-5"><i></i> <span>Emissão de listagens</span></a></li>
        <li><a href="#" class="menu-item-6"><i></i> <span>Gestão de pontos de colheita</span></a></li>
        <li><a href="#" class="menu-item-7"><i></i> <span>Configuração de modelos</span></a></li>
        <li><a href="#" class="menu-item-7"><i></i> <span>modelos de resultados</span></a></li>
        <li><a href="#" class="menu-item-8"><i></i> <span>Cartas de controlo</span></a></li>
    </ul>
</div>