<div class="">
    <a href="/calendar" class=""><img id="logo" src="{{ asset('bundles/app/images/logo.png') }}" alt="ilab" /></a>
    <nav class="navigation menu_principal">
        <ul class="mainmenu">
            <li><a href="" class="menu_planeamento"></a>
                    <ul class="submenu">
                        <div>Planeamento de amostras</div>
                        <li><a href="">Calendario</a></li>
                        <li><a href="">Novo Planeamento</a></li>
                    </ul>
                </li>
            <li><a href="" class="menu_amostras"></a></li>
            <li><a href="" class="menu_resultados"></a></li>
            <li><a href="" class="menu_configuracoes"></a>
            <li><a href="" class="menu_listagens"></a>
            <li><a href="" class="menu_cartas"></a>
                <!--<ul class="submenu">
                    <li><a href="">Tops</a></li>
                    <li><a href="">Bottoms</a></li>
                    <li><a href="">Footwear</a></li>
                </ul>-->


        </ul>
    </nav>
</div>